In [15]:
import pandas as pd
import numpy as np
import wrangle
import matplotlib.pyplot as plt
import math
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, explained_variance_score
from sklearn.linear_model import LinearRegression, LassoLars
from sklearn.feature_selection import RFE

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures

import wrangle

In [17]:
df = wrangle.wrangle_zillow()
df.head()

   bedrooms  bathrooms  area  tax_value  year_built  tax_amount  fips
0         4        2.0  3633     296425        2005     6941.39  6037
1         3        4.0  1620     847770        2011    10244.94  6037
2         3        2.0  2077     646760        1926     7924.68  6037
3         0        0.0  1200       5328        1972       91.60  6037
4         0        0.0   171       6920        1973      255.17  6037

In [18]:
train_validate, test = train_test_split(df, test_size = 0.10, random_state = 123)
train, validate = train_test_split(train_validate, test_size = 0.20, random_state = 123)
print(train.shape, validate.shape, test.shape)

(1508099, 7) (377025, 7) (209459, 7)